.navbar-container {
  background-color: var(--white);
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  z-index: 1000;
  position: relative;
}

.notificationbar {
  background-color: var(--secondary-dark-blue);
  padding: 0.75rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.navbar {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.navbar-logo a {
  color: var(--primary-dark-blue);
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links a {
  color: var(--text-primary-light);
  text-decoration: none;
  margin-right: 4rem;
  margin-left: -2rem;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: var(--secondary-dark-blue);
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  z-index: 1001;
}

.hamburger {
  display: block;
  width: 25px;
  height: 3px;
  background: var(--primary-dark-blue);
  position: relative;
  transition: all 0.3s ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 3px;
  background: var(--primary-dark-blue);
  transition: all 0.3s ease-in-out;
}

.hamburger::before {
  transform: translateY(-8px);
}

.hamburger::after {
  transform: translateY(8px);
}

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block !important;
  }

  .navbar-links {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--white);
    flex-direction: column;
    padding: 5rem 0;
    box-shadow: var(--shadow-standard-light);
    z-index: 1000;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  .navbar-links.active {
    display: flex;
    opacity: 1;
    visibility: visible;
  }

  .navbar-links a {
    margin: 1rem 0;
    padding: 0.5rem 2rem;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
  }
}